 /* CSS Reset */
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

/* Menu */
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50px;
  padding-left:50px;
  margin-bottom: 80px;
}

/* Card Animations */
.card{
  cursor: pointer;
  /* border: 1px solid #418e6d; */
  filter: drop-shadow(0px 1px 1px #7b7b7b);
  height: 400px;
  width: 300px;
  margin: auto;
  margin-top: 70px;
  background-color: #fff2cc;
  transition: 0.4s ease-out;
}

.card:hover{
  transform: translateY(-10px);
  filter: drop-shadow(0px 10px 8px #7b7b7b);
}

.card .card-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Image */
.card .image img{
  width: 17rem;
  height: 11rem;
  /* padding-top: 10px; */
  margin-top: 10px;
  border: #19614c 2px solid;
}

/* Contents */
.card .content p,h3{
  padding: 5px;
  margin-left: 10px;
}

.card .content p{
  font-size: small;
}

.card .content i{
  color: #fad126;
  padding-left: 15px;
}

.card .content > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .content > div p{
  font-size: larger;
  color: #7b7b7b;
}


/* Button */
.card .content > div a{
  text-decoration: none;
  color: #fff;
  background-color: #418e6d;
  margin-left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 1px;
}

.card .content a:hover{
  background-color: #19614c;
}

/* Quantity Card Animations */
.quantity-card{
  cursor: pointer;
  border: 2px solid #418e6d;
  height: 500px;
  width: 400px;
  margin: auto;
  margin-top: 70px;
  background-color: #fff;
  /* transition: 0.4s ease-out; */
}

.quantity-card .quantity-card-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity-card .quantity-card-items h2{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 370px;
  border-bottom: #7b7b7b 1px dotted;
}

.quantity-card .quantity-card-items .drinks h2{
  margin-bottom: 5px;
}

/* Image */
.quantity-card .image img{
  width: 23rem;
  height: 16rem;
  /* padding-top: 10px; */
  margin-top: 10px;
  border: #19614c 2px solid;
}

/* Contents */
.quantity-card .content p,h3{
  padding: 10px;
}

.quantity-card h2{
  padding-bottom: 30px;
}

.quantity-card .content p{
  font-size: small;
}

.quantity-card .content i{
  color: #fad126;
  padding-left: 15px;
}

.quantity-card .content > div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity-card .content > div p{
  font-size: larger;
}


/* Button */
.quantity-card .content a{
  text-decoration: none;
  color: #fff;
  background-color: #418e6d;
  margin-left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 6px;
}

.quantity-card .content a:hover{
  background-color: #19614c;
}

/* Counter Quantity */
.counter{
  display: flex;
  flex-direction: row;
  background: #c8c8c8;
  margin-top: 20px;
  align-items: center;
  border-radius: 200px;
}

.counter i{
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
}

.counter h4{
  padding-right: 20px;
  padding-left: 20px; 
}

/* Upper content */
.back{
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  width: 24rem;
  /* background-color: #418e6d; */
}

.next{
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
  width: 24rem;
  margin-top: 50px;
  /* background-color: #418e6d; */
}

.back i, .next i{
  padding-top: 10px;
}

.back i,a, .next i,a{
  text-decoration: none;
  color: #000000;
}

.back i:hover, .next i:hover{
  color: #7b7b7b;
}

/* Meal Option Button */
.meal-option{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.meal-option a{
  /* padding: 10px; */
  text-align: center;
  width: 100px;
}

/* Utility Classes */
.btn{
  text-decoration: none;
  color: #fff;
  background-color: #418e6d;
  margin-left: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 6px;
}

.btn:hover{
  background-color: #19614c;
}

.btn-red{
  background: #b83535;
}

.btn-light{
  background: #fff;
  color: #000000;
  border: #c8c8c8 solid 1px;
}
.btn-light:hover{
  background: #7b7b7b;
}

/* Food Header */
.food-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-left: 20px;
  /* background-color: #19614c; */
}

/* Meal Size */
.meal-size{
  display: flex;
  flex-direction: column;
}

.meal-size .size{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 21rem;
  border-radius: 20px;
  border: #418e6d solid 2px;
  margin-bottom: 30px;
  transition: 0.5s ease-out;;
}
.meal-size .size p{
  padding-left: 10px;
  color: #c8c8c8;
}

.meal-size .size:hover{
  transform: translateY(-10px);
  background: #418e6d;
  color: #fff;
}

/* Meal Size */
.sides{
  display: flex;
  flex-direction: column;
}

.sides .size{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 23rem;
  border-radius: 20px;
  border: #418e6d solid 2px;
  margin-top: 15px;
  transition: 0.5s ease-out;;
}
.sides .size p{
  padding-left: 10px;
  color: #c8c8c8;
}

.sides .size:hover{
  transform: translateY(-10px);
  background: #418e6d;
  color: #fff;
}

/* Drinks Options */
.drinks{
  display: flex;
  flex-direction: column;
}

.drinks .size{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  width: 23rem;
  border-radius: 20px;
  border: #418e6d solid 2px;
  margin-top: 15px;
  transition: 0.5s ease-out;;
}
.drinks .size p{
  padding-left: 10px;
  color: #c8c8c8;
}

.drinks .size:hover{
  transform: translateY(-10px);
  background: #418e6d;
  color: #fff;
}

.add-to-cart{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content:flex-end;
  /* background: #7b7b7b; */
}



/* Success page */
.success{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin: auto;
  margin-top: 200px;
  justify-content: center;
}

.success i{
  color: #418e6d;
}

.success h2{
  color: #418e6d;
  width: 50vw;
  /* background: #000; */
  text-align: center;
}

.success .btn{
  margin-top: 30px;
}
